<div class="text-center">
  <ul class="list-inline">
    <% ["mike", "joe", "daniel"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle", style: "height: 100px" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
